@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar{
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;
  width: 100%;
  border-bottom: 2px solid white;
}

.logo{
  background-color: #e53030 ;
  font-size: 30px;
  color: white;
  border-radius: 100%;
  padding: 16px;
}

.menu-icon{
  display: none;

}
.menu-btn{
   font-size: 24px;
   cursor: pointer;
   color: white;
   background: none;
}
.nav-links{
  display: flex;
  gap: 66px;
  margin-right: 32px;
}
.nav-links li:hover{
  color: #e53030;

  
}
.mobile-link{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;

}
.mobile-link-container{
  width: 63%;
  height: 65%;
  padding: 24px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 24px;
  background-color:#e53030;
  color: white;
  position: relative;
  right: 0;
  top: -9%;
  margin-left:33px ;
}
.mobile-nav-links{
  margin-top: 20%;


}
.mobile-link li{
  display: block;
}
.mobile-link li:hover{
  color: #e53030;

}

.about-container{
  padding: 48px 32px;

}
.about-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 100%;
  margin : 0 auto;
  
}
.about-pic{
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(
    0,0,0,0.1);
    object-fit: cover;
  } 


.about-content{
    width: 100%;
}
.about-title{
  font-size: 32px;
  font-weight: bold;
  padding-left: 40px;
  margin-bottom: 16px;
}
.about-text{
  font-size: 20px;
  font-weight: 1.75;
}
.about-text span{
  color: #e53030;
  font-weight: 600;
}

/* projects section */
.projects-container{
  padding: 64px 32px;
}
.project-title{
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 48px;
}
.project-card-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

}
.project-card{
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(o,o,o,0.1);
  overflow: hidden;
  transition: transform 0.3s ;
  background-color: black;
  color: white;

}
.project-card:hover{
  background-color: white;
  transform: scale(0.9);
  color: black;
}
.project-image{
  width: 100%;
  height: 240px;
  border-radius: 12px;
  object-fit: cover;
}
.project-details{
  padding: 8px;
}
.project-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  
}
.project-description{
  margin-bottom: 16px;
  
  
}
.project-technologies{
  margin-bottom: 12px;
}
.project-technologies span{
  color: #e53030;
}
.project-link{
  font-weight: 550;
  color: #e53030;

}

.contact-container{
  padding: 64px 32px;
}
.contact-title{
  font-size: 32px;
  font-weight: 765;
  margin-bottom: 48px;
  text-align: center;
}
.contact-form{
  background-color: white;
  padding: 16px;
  border-radius: 12px;
}
.form-group{
  margin-bottom: 16px;
}
label{
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}
input,textarea{
  width: 100%;
  border: 1px solid black;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 16px;
  outline: none;
}
.contact-btn{
  background-color: #e53030;
  color: white;
  padding: 16px 20px;
  border-radius: 12px;
  display: block;
  margin: 0 auto;

}
.contact-btn:hover{
  background-color: #a30b0b;
}


@media (max-width:768px){
  .nav-links{
    display: none;

  }
  .menu-icon{
    display: block;
  }
  
}

.herocontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 30px;
  background-color: black ;
  color: white;
  margin-top: 0;
}

.hero-text{
  width: 100%;
  margin-bottom: 36px;
  text-align: center;
}
.intro{
  font-size: 34px;
  font-weight: bold;

}
.name{
  font-size: 42px;
  font-weight: 800;

}
.description{
  font-size: 16px;
}
.social-icons{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}
.social-icons li{
  font-size: 16px;

}
.social-icons li:hover{
  color:#e53030;
}
.hire-me-btn{
  background-color: #e53030;
  padding: 12px 24px;
  margin: 16px 0;
  color: white;
  
}
.hire-me-btn:hover{
  background-color: #a30b0b;
}
.profilepic{
     display: flex;
     justify-content:center;
     margin-top: 30px;   
}
.piccontainer{
  width: 192px;
  height: 192px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
}

.footer-container{
  padding: 20px 30px;
  background-color: black;
  color: white;
}
.footer-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;

}
.footer-details{
  margin-bottom: 16px;
}
.footer-title{
   font-size: 24px;
   font-weight: 600;
   color: #e53030;
   margin-bottom: 16px;
}
.contact-info , .social-media{
  margin-bottom: 16px;
}
.contact-info-item{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}
.social-media-title{
  font-weight: bold;
  color: #e53030;
  margin-bottom: 8px;

}
.social-media-icons{
  display: flex;
  gap: 20px;
}
.footer-links{
  display: flex;
  gap: 24px;
  margin-top: 28px;
}
.footer-link{
  color: white;

}
.footer-link:hover{
  color: #e53030;
}
.footer-copy{
  margin-top: 24px;
  text-align: center;
}

@media (min-width:768px){
  .hero-container{
    flex-direction: row;
    padding: 0 96px;
       

  }

  .hero-text{
    width: 50%;
    margin-bottom: 0;
    text-align: left;
    border: 2px solid white;
  }
  .intro{
    font-size: 45px;

  }
  .name{
    font-size: 58px;
  }
  .description{
    font-size: 28px;
  }
  .profilepic{
    width: 50%;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 24px;

  }
  .piccontainer{
    width: 250px;
    height: 256px;
    margin-right: 150px;
  }
  .about-container{
    padding: 48px 96px;

  }
  .about-section{
    flex-direction: row;

  }
  .about-pic-container{
    width: 50%;
  }
  .about-title{
    padding-left: 0;
  }
  .project-card-container{
    grid-template-columns: repeat(2,fr);
  }
}
@media (min-width: 1024px){
  .project-card-container{
    grid-template-columns: repeat(3,1fr);
  }
}




@media (max-width:768px){
  .herocontainer{
    flex-direction: column-reverse;
    padding: 0 40px;

  } 
  .hero-container{
    text-align: center;
  }
  .social-icons{
    justify-content: center;
  }
  .profilepic{
    justify-content: center;
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 48px;

  }
 
}


